---
title: 소개 About
---
<div class="nav__desc">
    <h1 class="nav__title">소개 About</h1>
    <h3 class="nav__summary">하루 빨리 졸업을 하고 싶은 벌써 2년차 부부</h3>
</div>

<ul class="authors">
    {% for author in site.authors %}
    <li class="authors_list">
        <!-- <a href="{{ author.url }}"> -->
        <div>
            <img class="authors__img" src="{{ author.header-img }}" alt="">
            <h2 class="authors__name"> {{ author.name }}</h2>
            <div class="authors__position"> {{ author.position }}</div>
            <div class="authors__desc"> {{ author.excerpt }} </div>
            <!-- <div class="authors__links">
                {% if author.github %}
                <a href={{author.github}} class="github">
                    <img src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="#" class="author__icons">
                </a>
                {% endif %}
                {% if author.youtube %}
                <a href={{author.youtube}} class="yotube">
                    <img src="https://cdn.icon-icons.com/icons2/2429/PNG/512/youtube_logo_icon_147199.png" alt="#"
                        class="author__icons">
                </a>
                {% endif %}
            </div> -->
        <!-- </a> -->
        </div>
    </li>
    {% endfor %}
</ul>