---
title: Blog
---
<div class="nav__desc">
    <h1 class="nav__title">Blog</h1>
    <h3 class="nav__summary">데이터 분석, 웹/앱 개발, 부동산, 주식, 경매 등 많은 분야의 글을 올려요. </h3>
</div>

<div class="posts">
    <div class="posts__content">
        <ul class="posts__list">
            {% for post in site.posts %}
                {% if post.categories contains "Book" %}
                {% else %}
                    <li class="post_element">
                        <a class="post_lists__url" href="{{ post.url }}">
                            <div class="post_lists__summary">
                                <div class="post_lists__category">
                                    {% assign tags = post.categories %}
                                    {% for tag in tags %}
                                    <!-- <a href="/category/#{{tag|slugize}}" class="tag">{{tag}} </a>{% unless forloop.last %} {% endunless %} -->
                                    <h4 class="tag">{{tag}} </h4>{% unless forloop.last %} {% endunless %}
                                    {% endfor %}
                                </div>
                                <h2 class="post_lists__title">{{ post.title }}</h2>
                                <div class="post_lists__excerpt">
                                    {{ post.excerpt | truncatewords: 100, ' ...' }}
                                </div>
                                <div class = "post_lists__author__footer">
                                    <div class="post_lists__date">
                                        {{post.date | date_to_long_string }}
                                    </div>
                                    <div>by</div>
                                    <div class="post_lists__author">
                                        {{ post.author }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>