---
title: 책 Book
---
<div class="nav__desc">
    <h1 class="nav__title">책 Book</h1>
    <h3 class="nav__summary">기억하고 싶은 책 속의 문장들</h3>
</div>

<ul class="book_lists">
    {% for post in site.posts %}
    {% if post.categories contains "Book" %}
    <li class="book_element">
        <a class="book_lists__url" href="{{ post.url }}">
            {% if post.image %}
                <img class="book__thumbnail" src={{post.image}} alt="#">
            {% endif %}
            <h2 class="book_lists__title">{{ post.title }}</h2>
            <div class="book_lists__author">{{ post.author }}</div>
            <div class="book_lists__date">{{post.date | date_to_long_string }}</div>
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>