nav {
	padding: 50px 0 30px 0;
	font-size: 18px;
	display: flex;
	justify-content: center;
	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 960px;
		.navigation__col1 {
			.home {
				color: $main-color;
				font-weight: bold;
				font-size: 22px;
				background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, $main-color 50%);
				background-position: -0% 0;
				background-size: 200% auto;
				transition: background-position 0.5s ease-out;
			}
			.home:hover {
				background-position: -99.99% 0;
				color: white;
			}
		}
		.navigation__col2 {
			display: flex;
			flex-direction: row;
			color: $main-color;
			a {
				transition: all 0.3s ease-in-out;
				margin-left: 50px;
			}
			a:hover {
				color: $drag-color;
			}
			.active {
				font-weight: bold;
				color: $drag-color;
			}
		}
	}
}
