html, body {
  height: 100%;
  color: $black;
  font-family: "Source Sans Pro",sans-serif,"APPLE SD Gothic Neo",HelveticaNeue,Helvetica,"NanumGothic","맑은 고딕","Malgun Gothic",arial,sans-serif;
  font-size: 18px;
  ::selection {
    background: $main-color;
    color: #FFF;
    text-shadow: none;
}
  header {
  }
  main {
    width: 80%;
    margin: 0 auto;  
    .nav__desc{
      margin:80px 0px;

        .nav__title{
          font-weight: bold;
          font-size: 30px;
        }
        .nav__summary{
          font-weight: 300;
          font-size: 20px;
          color: $dark-grey;
          margin-top: 6px;
        }
  }
  }
}