.authors {
	display: flex;
	flex-direction: row;
	justify-content: center;
	.authors_list {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 30%;
		.authors__img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			margin-bottom: 20px;
		}
		.authors__name {
			font-size: 26px;
			font-weight: bold;
		}
		.authors__position {
			font-size: 18px;
			font-weight: 100;
			margin-bottom: 16px;
			margin-top: 10px;
		}
		.authors__links {
			margin-top: 20px;
			display: flex;
			flex-direction: row;
			.author__icons {
				width: 24px;
				height: 24px;
				margin: 4px 6px;
			}
		}
		.authors__desc {
			p {
				font-size: 16px;
				font-weight: 200;
				line-height: 1.6;
			}
		}
	}
}
