$grey: #f5f5f5;
$dark-grey: #90949a;
$black: #444444;
$green: #00704a;
$red: #f64f4f;
$purple: #ad33fb;

$text-color: rgb(55, 53, 47);
$drag-color: #90949a;
$main-color: #444444;
$header-color: #353535;

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	transition: $args;
}
