---
layout: default
---
<div class="post">
    <div class="post-info">
        <div class="post-category">
            {% assign cats = page.categories %}
            {% for cat in cats %}
            <!-- <a href="/category/#{{tag|slugize}}" class="tag"> {{cat}} </a>{% unless forloop.last %},{% endunless %} -->
            <h4 class="tag"> {{cat}} </h4>{% unless forloop.last %} {% endunless %}
            {% endfor %}
        </div>
        <h2 class="post-header">{{ page.title }}</h2>
        <div class="post-desc">
            {% if page.date %}
            <time datetime="{{ page.date }}" class="post-desc__date">{{ page.date | date: "%B %d, %Y" }}</time>
            {% endif %}
            {% if page.author %}
            <div>by</div>
            <div class="post-desc__author">{{ page.author }}</div>
            {% endif %}

        </div>
    </div>

    {{ content }}
    <div class="post-tags">
        {% assign tags = page.tags %}
        {% for tag in tags %}
        <a href="/category/#{{tag|slugize}}">#{{tag}}</a>{% unless forloop.last %} {% endunless %}
        {% endfor %}
    </div>
</div>